* {
    primary: #715855;
    primary-fixed: #fddbd6;
    primary-fixed-dim: #dfbfba;
    on-primary: #ffffff;
    on-primary-fixed: #291714;
    on-primary-fixed-variant: #58413e;
    primary-container: #fddbd6;
    on-primary-container: #291714;
    secondary: #6b5a58;
    secondary-fixed: #f5ddda;
    secondary-fixed-dim: #d8c2be;
    on-secondary: #ffffff;
    on-secondary-fixed: #251917;
    on-secondary-fixed-variant: #534341;
    secondary-container: #f5ddda;
    on-secondary-container: #251917;
    tertiary: #775652;
    tertiary-fixed: #ffdad5;
    tertiary-fixed-dim: #e7bdb6;
    on-tertiary: #ffffff;
    on-tertiary-fixed: #2c1512;
    on-tertiary-fixed-variant: #5d3f3b;
    tertiary-container: #ffdad5;
    on-tertiary-container: #2c1512;
    error: #ba1a1a;
    on-error: #ffffff;
    error-container: #ffdad6;
    on-error-container: #410002;
    surface: #fff8f7;
    on-surface: #1e1b1a;
    on-surface-variant: #4a4645;
    outline: #7c7675;
    outline-variant: #ccc5c4;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #332f2f;
    inverse-on-surface: #f7efed;
    inverse-primary: #dfbfba;
    surface-dim: #e0d8d7;
    surface-bright: #fff8f7;
    surface-container-lowest: #ffffff;
    surface-container-low: #faf2f0;
    surface-container: #f4eceb;
    surface-container-high: #efe6e5;
    surface-container-highest: #e9e1df;
}
