* {
    background: #0c0f0bff;
    background-alt: #161b15ff;
    foreground: #e0e8dbff;
    border: #70786dff;
    selected: #3a5a3bff;
    selected-foreground: #c8edc5ff;
    active: #f9ffbcff;
    urgent: #f97758ff;
}
